# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore logs
*.log

# Ignore virtual environments
.env
.venv/
env/
venv/

# Ignore git repository files
.git/
.gitignore

# Ignore local artifacts
artifacts/
*.pkl

# Ignore test data and notebooks
tests/
*.ipynb

# Ignore Docker-related files
#Dockerfile
.dockerignore
